<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>4G4U</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.members.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.members.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/member/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.ticketing.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewTicket</servlet-name>
    <servlet-class>com.ticketing.NewTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTicket</servlet-name>
    <url-pattern>/ticket/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ticket</servlet-name>
    <servlet-class>com.ticketing.TicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ticket</servlet-name>
    <url-pattern>/ticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.reporting.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit Profile</servlet-name>
    <servlet-class>com.members.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit Profile</servlet-name>
    <url-pattern>/profile/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.members.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Log out</servlet-name>
    <servlet-class>com.members.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log out</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>About</servlet-name>
    <servlet-class>com.pages.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.pages.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
</web-app>